root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_size = 2
shell_variant = bash

[*.md]
trim_trailing_whitespace = false
# Markdown uses trailing two-space line breaks; don't strip them.

[Makefile]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2
